In [8]:
# 초를 입력 받아 시, 분, 초로 환산하는 프로그램
total = int(input("초를 입력하세요:"))

hour = int(total // 3600)
minute = int(total % (60 * 60) // 60)
second = int(total % 60)
print(hour, "시간")
print(minute, "분")
print(second, "초")

초를 입력하세요: 7533

2 시간
5 분
33 초

In [12]:
# 음료수
# 7800원
# money = 7800
# 5천원 1장
# 1천원 2장
# 5백원 1개
# 1백원 3개
money = int(input("잔돈을 입력하세요:")
change_5000 = money // 5000
change_1000 = (money % 5000) // 1000
change_500 = ((money % 5000) % 1000) // 500
change_100 = (((money % 5000) % 1000) % 500) // 100
print("5천원 ->", change_5000, "장")
print("1천원 ->", change_1000, "장")
print("5백원 ->", change_500, "장")
print("1백원 ->", change_100,"장")

5천원 -> 1 장
1천원 -> 2 장
5백원 -> 1 장
1백원 -> 3 장

In [20]:
# python에서 출력 시 format 설정
# 1. {} 와 format()
month = 7
day = 2
print("{}월 {}일".format(month, day))
# 2. % 사용방법
# %d : 정수 %f : 실수 %s : 문자열
print("%2d월 %2d일"%(month,day))
print("12월 25일")

# 3. f-string
print(f"{month}월 {day}일")

7월 2일
 7월  2일
12월 25일
7월 2일

In [27]:
# 논리 연산자
print(not True)
print(not False)
print(not (10 > 5))
# 논리 곱(and)
# 1 -> True
# 0 -> False
# 1 x 1 = 1 (True and True) -> True
# 1 x 0 = 0 (True and False) -> False
# 0 x 1 = 0 (False and True) -> False
# 0 x 0 = 0 (False and False) -> False
print((10 < 5) and (3 > 1)) 
# and 앞쪽에서 이미 False이기 때문에
# and 뒷쪽은 Dead Code가 된다!! (연산 X)
# 논리 합(or)
# 1 + 1 = 2 (True or True) -> True
# 1 + 0 = 1 (True or False) -> True
# 0 + 1 = 1 (False or True) -> True
# 0 + 0 = 0 (False or False) -> False
print((10 > 5) or (3 > 1)) # True
# or 앞쪽에서 이미 True이기 때문에
# or 뒷쪽은 Dead Code가 된다!! (연산 X)

False
True
False
False
True

In [29]:
# 삼항 연산자 (조건 연산자)
# a if 조건식 else b
score = 50
result = "합격" if score >= 60 else "불합격"
print(result)

불합격

In [32]:
# 정수를 입력받아 number에 저장 후 홀짝수 구별

number = int(input("정수를 입력하세요"))
result = "짝수" if number % 2 ==0 else "홀수"
print(result)

정수를 입력하세요 5

홀수

In [33]:
# 조건문 (조건 문법)

number = int(input("정수를 입력하세요:"))
if number % 2 == 0:
    print("짝수")
else:
    print("홀수")

정수를 입력하세요: 5

홀수

In [44]:
# 사용자로부터 정수를 입력받아
# num에 저장 후 
# num이 3의 배수이면서 5의 배수라면
# 3과 5의 배수 판별

num = int(input("정수를 입력하세요:"))
if (num % 3 == 0) and (num % 5 == 0):
    print("3과 5의 배수입니다")
else:
    print("3과 5의 배수가 아닙니다")

정수를 입력하세요: 6

3과 5의 배수가 아닙니다

In [51]:
# 사용자로부터 성적을 입력 받아
# score라는 변수에 저장
score = int(input("성적을 입력하세요 :"))
if (score >= 90):
    print("A학점입니다")
elif (score >= 80):
    print("B학점입니다")
else:
    print("F학점입니다")

성적을 입력하세요 : 90

A학점입니다

In [57]:
# 1개 가격은 10000원
# 6개 구매 60000원
# 11개 이상 구매 시 10% 헐인

count = int(input("상품의 개수를 입력하세요:"))
cost = 10000
discount = 0.1
if count > 10 :
    print("10% 할인하여 {}원입니다.".format(count * cost * (1-discount)))
else:
    print("{}원입니다.".format(count * cost))

상품의 개수를 입력하세요: 6

60000원입니다.

In [61]:
# 자판기 만들기
# [1] 솔의 눈( [2]데자와 [3] 아침햇살
# 메뉴를 입력하세요 :

money = int(input("돈을 투입하세요 :"))
print("[1]솔의 눈(1000원) [2]데자와(2000원) [3] 아침햇살(1500원)")
menu = int(input("메뉴를 입력하세요:"))
if menu == 1:
   money = money - 1000
elif menu == 2:
   money =  money - 2000
elif menu == 3:
    money = money - 1500
else:
    print("잘못입력하셨습니다.")

change_5000 = money // 5000
change_1000 = money % 5000 // 1000
change_500 = money % 1000 // 500
chagne_100 = money % 500 // 100

print("5천원 :",money//5000)
print("1천원 :",(money % 5000) // 1000)
print("5백원 :",((money % 5000) % 1000) // 500)
print("1백원 :",money % 5000 % 1000 % 500 // 100)

돈을 투입하세요 : 7800

[1]솔의 눈(1000원) [2]데자와(2000원) [3] 아침햇살(1500원)

메뉴를 입력하세요: 3

5천원 : 1
1천원 : 1
5백원 : 0
1백원 : 3

In [63]:
# print new line 옵션

print("오늘 점심은 : " ,end="")
print("짬뽕")

오늘 점심은 : 짬뽕

In [69]:
# 첫 번째 자료구조
# 리스트(list)

a = []
b = [1, 2, 3]
c = ["김태형", "이영남", "유다선"]
d = [True, False]
e = [3.141592, -10.2]
f = [1, 2, ["a", "b", "c"], True, 3.121592]
print(f[2][1])

b

In [73]:
list1 = [1, 2, 3]
list2 = [4, 5, 6, 7]

print(list1[1] + list2[1])

7

In [78]:
list3 = [1, 2, 3, 4, 5, 6, 7]

print(list3[1 : 5])

[2, 3, 4, 5]

In [94]:
list_member = []
print(list_member)

list_member.append("김태형")
print(list_member)

list_member.append("김호준")
print(list_member)

list_member.append("이정재")
list_member.append("이병헌")
print(list_member)

list_member.insert(2, "수지")
print(list_member)

list_member[0] = "박보검"
print(list_member)

list_member.pop(3)
print(list_member)

list_member.remove("이병헌")
print(list_member)

[]
['김태형']
['김태형', '김호준']
['김태형', '김호준', '이정재', '이병헌']
['김태형', '김호준', '수지', '이정재', '이병헌']
['박보검', '김호준', '수지', '이정재', '이병헌']
['박보검', '김호준', '수지', '이병헌']
['박보검', '김호준', '수지']

In [98]:
# 정렬

list4 = [8, 17, 12, 27, 5, 7] 

list4.sort()
print(list4) #오름차순

list4.reverse()
print(list4) #내림차순

[5, 7, 8, 12, 17, 27]
[27, 17, 12, 8, 7, 5]

In [106]:
#리스트의 요소의 위치를 찾는 함수 index
#jupyter notebook에서 가장 마지막에 있는 값을 보여주는 기능
list4.index(7) #7이라는 요소는 index : 4 위치에 있다
list4.append(46)
list4

[27, 17, 12, 7, 5, 46, 46]

In [115]:
list4 = [27, 17, 12, 8, 7, 5]
list4.append(46)
print(list4)
list4.pop(6)
print(list4)

[27, 17, 12, 8, 7, 5, 46]
[27, 17, 12, 8, 7, 5]

In [119]:
# len(): 리스트 요소의 개수를 반환

len(list2)

4

In [124]:
intro = "My name is TH"
print(intro[11])
print(intro[3 : 7])
print(intro[11:]) #끝 생략시 끝까지
print(intro[:5]) #앞 생략시 처음부터
print(intro[:]) #전부 생략시 전부

Y
name
YH
My na
My name is YH

In [169]:
# in ( ~ 안에 )
list5 = ["초밥", "돈까스", "백반"]
print("돈까스" in list5)
print("짬뽕" in list5)
print("초밥" not in list5)
words = "Python is good"
print("good" in words)

tuple1 = (1, 2, 3)
print("4" in tuple1)

True
False
False
True
False

# 반복문
- while (대개 반복 횟수가 정해져 있지 않을 때)
- for (대개 반복 횟수가 정해져 있을 때)
-

In [190]:
# while
# 1부터 10까지 출력
for i in range(1,11):
    print(i, end=" ")
    
i = 1
while i < 11:
    print(i, end=" ")
    i += 1
print()
print("프로그램이 종료")

1 2 3 4 5 6 7 8 9 10 1 2 3 4 5 6 7 8 9 10
프로그램이 종료

In [195]:
# 사용자로부터 자연수를 입력 받아
# 지속적으로 누적 합하여 출력하는 프로그램

add_total = 0
# 사용자가  0을 입력하면 종료

while user_input != 0:
    user_input = int(input("자연수를 입력 :"))
    add_total += user_input
    print("누적 합 :", add_total)

In [216]:
##### 다이어트 프로그램
# 1. 현재 몸무게 입력: 
# current_weight
# 2. 목표 몸무게 입력:
# goal_weight

current_weight = int(input("현재 몸무게:"))
goal_weight = int(input("목표 몸무게:"))
week = 1

while(1):
    weight = int(input("%d주차 몸무게 :"%week))
    current_weight -= weight
    week = week + 1
    if current_weight <= goal_weight :
        print("%dKG달성! 축하합니다."%current_weight)
        break

현재 몸무게: 80
목표 몸무게: 30
1주차 몸무게 : 20
2주차 몸무게 : 50

10KG달성! 축하합니다.

In [258]:
# 1~100까지 수 중 하나를 맞추는 게임
# random 랜덤관련 라이브러리

import random
answer = random.randint(1,100)
#print(answer)

In [259]:
# 숫자를 입력하세요(1~100)
number = int(input("숫자를 입력하세요:"))

while(1):
    if number < answer :
        print("더 크다")
        number = int(input("숫자를 다시 입력하세요:"))
    elif number > answer :
        print("더 작다")
        number = int(input("숫자를 다시 입력하세요:"))
    elif number == answer :
        print("정답")
        break

숫자를 입력하세요: 50

더 크다

숫자를 다시 입력하세요: 75

더 작다

숫자를 다시 입력하세요: 62

더 작다

숫자를 다시 입력하세요: 55

더 크다

숫자를 다시 입력하세요: 60

더 작다

숫자를 다시 입력하세요: 59

더 작다

숫자를 다시 입력하세요: 57

더 크다

숫자를 다시 입력하세요: 58

정답

In [265]:
# for문 (반복 횟수가 정해져 있을 때)
list_lunch = ['초밥', '돈까스', '백반', '냉면']

menu = "탕수육"
for menu in list_lunch:
    print(menu, end=" ")    

for letter in "Happy":
    print(letter, end=" ")

for num in [1, 2, 3, 4]:
    print(num, end=" ")

초밥 돈까스 백반 냉면 H a p p y 1 2 3 4

In [284]:
# range 함수

for num1 in range(21,58):
    print(num1, end=" ")

for num2 in range(73,30,-1):
    print(num2, end=" ")

21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31

In [287]:
for i in range(100):
    print(i+1, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [293]:
for i in range(1,101):
    if (i % 3 == 0) and (i % 5 == 0):
        print(i, end=" ")

15 30 45 60 75 90

In [326]:
# 구구단 2단
n = int(input())

for i in range(1,10,1):
    print(f"{n} * {i} = {n*i}")
    
    # print("2 x 1 = 2")
    # print("2 x 2 = 4")
    # print("2 x 3 = 6")
    # print("2 x 4 = 8")
    # print("2 x 5 = 10")
    # print("2 x 6 = 12")
    # print("2 x 7 = 14")
    # print("2 x 8 = 16")
    # print("2 x 9 = 18")

 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [309]:
number2 = int(input())
# 약수(division)

for i in range(1, number2//2 +1):
    if number2 % i == 0:
        print(f"{i}",end=" ")
print(number2)
# if 28 % 1 == 0:
#     print("1",end=" ")
# if 28 % 2 == 0:
#     print("2",end=" ")
# if 28 % 3 == 0:
#     print("3",end=" ")

 4

1 2 4

In [313]:
n = int(input())
total = 0

for i in range(1,n+1):
    total += i

print(total)

 3

6

In [ ]:
for j in range(2,10):
    for i in range(1,10,1):
        print(f"{j} * {i} = {j*i}")

In [367]:
for i in range(1,6):
    for _ in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [354]:
n = int(input())

for n in range(n,0,-1):
    for _ in range(n):
        print("*",end="")
    print()

 5

*****
****
***
**
*

In [385]:
N=int(input())

for i in range(N):
    print(" " * (N-i-1),"*" * (i+1))

 3

   *
  **
 ***